@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");

:root {
  --background-blue: #212e50;
  --header-blue: #144766;
  --button-blue: #2499ff;
  --gray-font: #24262a;
  --green-button: #00ffe5;
}

@font-face {
  font-family: R6S-Bold;
  src: url(https://static-dm.akamaized.net/siege/prod/e891b9de169c0ec6e3a13c9b7693586f.woff2)
      format("woff2"),
    url(https://static-dm.akamaized.net/siege/prod/28960cde20e07caca349ff91b8a6ea67.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: R6S-RegItalic;
  src: url(https://static-dm.akamaized.net/siege/prod/c69c158ebd475ce7383a484052372f19.woff2)
      format("woff2"),
    url(https://static-dm.akamaized.net/siege/prod/5165e561a75de43dc9f30abeaf21df0a.woff)
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: UbisoftSans-Regular;
  font-style: normal;
  font-weight: 400;
  src: url(https://ubistatic2-a.akamaihd.net/overlay/overlay-connect-integration/prod/public/2274e927654b5932ef4e.eot?)
      format("eot"),
    url(https://ubistatic2-a.akamaihd.net/overlay/overlay-connect-integration/prod/public/4aef9c9a73c58146fbc0.woff)
      format("woff"),
    url(https://ubistatic2-a.akamaihd.net/overlay/overlay-connect-integration/prod/public/79ae29a215804bef4c48.woff2)
      format("woff2");
}
@font-face {
  font-family: UbisoftSans-Bold;
  font-style: normal;
  font-weight: 400;
  src: url(https://ubistatic2-a.akamaihd.net/overlay/overlay-connect-integration/prod/public/1ff095390155976f9244.eot?)
      format("eot"),
    url(https://ubistatic2-a.akamaihd.net/overlay/overlay-connect-integration/prod/public/3a70bb26c352c877a2df.woff)
      format("woff"),
    url(https://ubistatic2-a.akamaihd.net/overlay/overlay-connect-integration/prod/public/c61897bdf00a9db7ce3b.woff2)
      format("woff2");
}

* {
  margin: 0;
}

h4 {
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 40px;
}

body {
  background: var(--background-blue) url(../Bilder/Backgrund-blå.jpg) repeat-y;
  background-size: 100%;
}

.intro {
  position: fixed;
  left: -100vw;
  height: 100vh;
  width: 100vw;
  background-color: black;
  animation: intro-animation 2s;
  z-index: 1000;
}

@keyframes intro-animation {
  0% {
    top: 100vh;
    left: 0;
  }

  25% {
    top: 0vh;
    left: 0;
  }

  60% {
    top: 0vh;
    left: 0;
  }

  100% {
    top: 100vh;
    left: 0;
  }
}

.load-gif {
  position: absolute;
  top: 50%;
  left: 50%;
}
