main {
  background: url(../Bilder/backgrund-filter-grön.png) no-repeat 0% 0%/100% 100%,
    url(../Bilder/backgrund-filter-lila.png) no-repeat 0% 0%/100% 100%,
    url(../Bilder/Backgrund-linjer-höger.png) 100vw -200vw,
    url(../Bilder/Backgrund-linjer-vänster.png) 100vw -200vw;
  height: 100%;
  animation: filter infinite linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes filter {
  100% {
    background: url(../Bilder/backgrund-filter-grön.png) no-repeat 0% 0%/100%
        100%,
      url(../Bilder/backgrund-filter-lila.png) no-repeat 0% 0%/100% 100%,
      url(../Bilder/Backgrund-linjer-höger.png) 0vw 200vw,
      url(../Bilder/Backgrund-linjer-vänster.png) 0vw 200vw;
  }
}

.tomrum {
  height: 75px;
  margin-bottom: 60px;
}

h1 {
  font-size: 80px;
  font-family: R6S-RegItalic, Arial;
  color: white;
  font-weight: normal;
  margin-bottom: 35px;
}

.gubbe {
  height: 62.5%;
}

.survey {
  font-family: R6S-RegItalic, Arial;
  color: var(--gray-font);
  height: 80px;
  width: 305px;
  background: var(--button-blue);
  position: relative;
  transition: 0.4s;
}

.survey-linear {
  height: 100%;
  width: 100%;
  position: relative;
  background: linear-gradient(
      0deg,
      #29d2fe,
      #29d2fe 7%,
      #29d2fe80 8%,
      #29d2fe40 20%,
      rgba(0, 0, 0, 0) 50%
    )
    50% 100%/100% 0% no-repeat;
  transition: 0.4s;
}

.survey-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.survey:hover .survey-content {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  transition: 0.3s;
}

.survey:hover .survey-linear {
  transition: 0.5s;
  transition: 0.3s;
  background-size: 100% 100%;
}

article {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(90vw);
}

section {
  width: calc(12.5% - 10px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.15);
  margin: 5px;
  transition: 0.3s;
}

.operator-image {
  width: 100%;
  transition: 0.1s;
}

.operator-icon {
  position: absolute;
  height: 25%;
  bottom: 20%;
  z-index: 90;
}

.operator-linear {
  position: absolute;
  inset: 0 0 36px 0;
  background: linear-gradient(
      0deg,
      #29d2fe,
      #29d2fe80 8%,
      #29d2fe40 20%,
      rgba(0, 0, 0, 0) 50%
    )
    50% 100%/100% 0% no-repeat;
  transition: 0.1s;
  z-index: 75;
}

.operator-name {
  width: 100%;
  height: 37px;
  background-color: #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: R6S-RegItalic;
  font-size: 26px;
  transition: 0.1s;
}

section:hover {
  transform: scale(1.15, 1.15);
  transition: 0.3s;
  z-index: 100;
}

section:hover .operator-image {
  background: var(--button-blue);
  transition: 0.05s;
}

section:hover .operator-linear {
  background-size: 100% 100%;
  transition: 0.3s;
}

section:hover .operator-name {
  background: var(--green-button);
  transition: 0.05s;
}

@media screen and (max-width: 1248px) {
  section {
    width: calc(16.66667% - 10px);
  }
}

@media screen and (max-width: 768px) {
  section {
    width: calc(25% - 10px);
  }
  .operator-name {
    font-size: 20px;
  }
}
