main {
  background: url(../Bilder/backgrund-filter-grön.png) no-repeat,
    url(../Bilder/backgrund-filter-lila.png) no-repeat,
    url(../Bilder/Backgrund-linjer-höger.png) 100% 200%,
    url(../Bilder/Backgrund-linjer-vänster.png) 100% 200%;
  height: 100vh;
  animation: filter 200s infinite linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes filter {
  100% {
    background: url(../Bilder/backgrund-filter-grön.png) no-repeat 0% 0%,
      url(../Bilder/backgrund-filter-lila.png) no-repeat 0% 0%,
      url(../Bilder/Backgrund-linjer-höger.png) 0% -200%,
      url(../Bilder/Backgrund-linjer-vänster.png) 0% -200%;
  }
}

.tomrum {
  height: 75px;
  margin-bottom: 60px;
}

h1 {
  font-size: 80px;
  font-family: R6S-RegItalic, Arial;
  color: white;
  font-weight: normal;
  margin-bottom: 35px;
}

.gubbe {
  height: 62.5%;
}

.survey {
  font-family: R6S-RegItalic, Arial;
  color: var(--gray-font);
  height: 80px;
  width: 305px;
  background: var(--button-blue);
  position: relative;
  transition: 0.4s;
}

.survey-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  background: linear-gradient(
      0deg,
      #29d2fe,
      #29d2fe 7%,
      #29d2fe80 8%,
      #29d2fe40 20%,
      rgba(0, 0, 0, 0) 50%
    )
    50% 100%/80% 0% no-repeat;
}

.survey-content:hover {
  transform: scale(1.1, 1.1);
  transition: 0.5s;
  transition: 0.3s;
  background-size: 80% 100%;
}
